#centerpiece {
  border: 2px solid red;

  grid-column: 3 / span 5;
  grid-row: 2 / span 7;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-pic {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

  width: 100%;
  height: 100%;
}

#vibes {
  grid-column: 1 / span 3;
  grid-row: 4 / span 6;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
