* {
  font-family: monospace;
  font-weight: 500;
  color: brown;
  background-color: cornsilk;
}

::placeholder {
  color: inherit;
  font: inherit;
  text-align: inherit;
  opacity: 1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.box-container {
  background-color: inherit;
}

.center-items {
  display: flex;
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  flex-direction: column; /* Stacks elements vertically */
}

#character-body {
  z-index:10;
  position: relative;
  display: flex;
  align-items: center;
  height: 500px;
  width: 300px;
  border: 2px solid brown;
  opacity: 20%;
}

#profile-pic {
  z-index: 1;
  position: absolute;
  top: 5vh;
  left: 60vh;
  height: 30vh;
  width: 30vh;
  background: sandybrown;
}

#vibes {
  z-index: 1;

  position: absolute;
  top: 37vh;
  left: 60vh;
  height: 50vh;
  width: 30vh;

  background: sandybrown;
}

#quote-1 {
  z-index: 2;
  position: relative;

  background-color: inherit;

}

#vibes-images{
  z-index: 2;

  margin: auto 5% 5% 5%;

  height: 50%;
  width: 80%;

  background: red;
}
 
.square-image {
  height: 80%;
  width: 80%;
  background: salmon;
  margin: 1%;
}

img {
  background-color: inherit;
}

/*#root {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

/*.logo {*/
/*  height: 6em;*/
/*  padding: 1.5em;*/
/*  will-change: filter;*/
/*  transition: filter 300ms;*/
/*}*/
/*.logo:hover {*/
/*  filter: drop-shadow(0 0 2em #646cffaa);*/
/*}*/
/*.logo.react:hover {*/
/*  filter: drop-shadow(0 0 2em #61dafbaa);*/
/*}*/

/*@keyframes logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  a:nth-of-type(2) .logo {*/
/*    animation: logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.card {*/
/*  padding: 2em;*/
/*}*/

/*.read-the-docs {*/
/*  color: #888;*/
/*}*/
