@import url('styles/debug.css');
@import url('styles/zones-layout.css');
@import url('styles/zones.css');

:root {
  background-color: cornsilk;
  place-items: center;
}

.view-container {
    display: grid;
    aspect-ratio: 1/1;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    gap: 0.5rem; /* spacing between grid cells */
    width: 40rem;
    height: 40rem;

    padding: 10vh 10vw;

    place-items: center; /* centers content in each cell */
}
/* 
.image-fit {
  object-fit: contain;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  display: block;
} */